<div class='jabba'>
  <h1>COPYN'IT</h1>
  <p id="index-title">Hi there! morning selfie, i'm a little hung over.</p>
  <%= image_tag("jabba.jpeg") %>
</div>

<div class="posts">Hello Jabba!</div>
<div class="posts">Solo!</div>

<section>This is the content.</section>
